.div {
  background-image: url("C:\Users\13176\Desktop\WD89Red\ChiariAlliance\red-badge-client-main\chiari-alliance\src\purplebackground.jpeg");
  background-repeat: repeat-y;
  background-size: 110%;
  background-position: center;
}

/* footer */
footer {
  background-color: #7954a1;
  color: white;
  margin-top: 10px;
  font-family: 'Patrick Hand', cursive;
}

footer p {
  text-shadow: 1px -1px  black;
  color: white;
  margin-top: 0.8em!important;
  margin-left: 2.5em;
  text-transform: uppercase;
  background: none;
}

/* main */
.main {
  background-image: url("C:\Users\13176\Desktop\WD89Red\ChiariAlliance\red-badge-client-main\chiari-alliance\src\purplebackground.jpeg");
  background-repeat: repeat-y;
  background-size: 110%;
  background-position: center;
  color: black;
  height: 100%;
  min-height: 100%;
}

header {
  margin-bottom: 70px ;
}

button.nav-button.btn.btn-primary {
  background-color: #C55FFC;
  border: 2px solid black;
  color: white;
  margin: 1px;
  text-align: center;
  transition-duration: 0.2s;
}

button.nav-button.btn.btn-primary:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid #C55FFC;
  color: #C55FFC;
  margin: 1px;
  text-align: center;
}

button.btn.btn-secondary {
  background-color: #C55FFC;
  border: 2px solid black;
  color: white;
  margin: 1px;
  text-align: center;
  transition-duration: 0.2s;
}

button.btn.btn-secondary:hover  {
  background-color: rgb(255, 255, 255);
  border: 2px solid #C55FFC;
  color: #C55FFC;
  margin: 1px;
  text-align: center;
}


.mainDiv {
  margin: auto;
  width: 90%;
  padding: 5px;
}


h1 {
  font-family: 'Corben', cursive;
  text-align: center;
  color: #C55FFC;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
}

h3 {
  font-family: 'Corben', cursive;
  text-align: center;
  color: #C55FFC;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a:link, a:visited  {
  font-family: 'Corben', cursive;
  text-align: center;
  text-decoration: none;
  color: #C55FFC;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


a:hover {
  font-family: 'Corben', cursive;
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

label {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 2px #EFDCF9;
  
}

input.form-control {
  width: 80%;
  background-color: #EFDCF9;
}

p {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 2px #EFDCF9;
  background-color: #c55ffc6d;
}

ul {
  font-family: 'Patrick Hand', cursive;
 color: black;
 text-shadow: 1px 1px 2px #EFDCF9;
 background-color: #c55ffc6d;
}

th {
  font-family: 'Patrick Hand', cursive;
 color: black;
 background-color: #7954a1;
}

div.form-group {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 2px #EFDCF9;
}

button.btn.btn-primary:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid #C55FFC;
  color: #C55FFC;
  margin: 1px;
  text-align: center;
}

button.btn.btn-primary {
  background-color: #C55FFC;
  border: 2px solid black;
  color: white;
  margin: 1px;
  text-align: center;
  transition-duration: 0.2s;
}

input#other.form-control {
  height: 10em;
  width: 25em;
}